html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #fff
}

p {
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0
}

* {
    margin: 0;
    padding: 0
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px
}

.container-fluid {
    max-width: 1920px
}

.bgi {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.preloader {
    --bg-color: #45484d;
    --size: 200px;
    --first-color: #ff7473;
    --second-color: #ffc952;
    --third-color: #47b8e0;
    --thickness: 3px;
    --duration: 1s;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: var(--duration);
    -o-transition: var(--duration);
    transition: var(--duration);
    z-index: 30
}

.preloader__content {
    position: relative;
    width: var(--size);
    height: var(--size)
}

.preloader__first,
.preloader__second,
.preloader__third {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: var(--duration) linear infinite;
    animation: var(--duration) linear infinite
}

.preloader__first {
    border-bottom: var(--thickness) solid var(--first-color);
    -webkit-animation-name: first;
    animation-name: first
}

.preloader__second {
    border-right: var(--thickness) solid var(--second-color);
    -webkit-animation-name: second;
    animation-name: second
}

.preloader__third {
    border-top: var(--thickness) solid var(--third-color);
    -webkit-animation-name: third;
    animation-name: third
}

@-webkit-keyframes first {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg)
    }

    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)
    }
}

@keyframes first {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg)
    }

    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)
    }
}

@-webkit-keyframes second {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg)
    }

    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)
    }
}

@keyframes second {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg)
    }

    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)
    }
}

@-webkit-keyframes third {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg)
    }

    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)
    }
}

@keyframes third {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg)
    }

    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)
    }
}

.wrapper__pages {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: -o-linear-gradient(315deg, #45484d, #000, #000, #45484d);
    background: linear-gradient(135deg, #45484d, #000, #000, #45484d);
    background-size: 400% 400%;
    -webkit-animation: screenplug 11s ease infinite;
    animation: screenplug 11s ease infinite
}

.page {
    height: 100vh;
    background-color: transparent
}

.page-1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@-webkit-keyframes screenplug {
    0% {
        background-position: 20% 20%
    }

    50% {
        background-position: 100% 100%
    }

    100% {
        background-position: 20% 20%
    }
}

@keyframes screenplug {
    0% {
        background-position: 20% 20%
    }

    50% {
        background-position: 100% 100%
    }

    100% {
        background-position: 20% 20%
    }
}

.header__holder {
    position: relative
}

.header {
    position: absolute;
    max-width: 1230px;
    padding: 0 15px;
    width: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.menu li a {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase
}

.menu li+li {
    margin-left: 30px
}

.menu a {
    padding: 0 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    font-weight: 300;
    color: #fff;
    z-index: 2;
    position: relative
}

.menu a::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: gray;
    opacity: 0;
    width: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    bottom: 0;
    left: 0
}

body.fp-viewing-page-1 .menu li a[href="#page-1"] {
    cursor: default;
    color: gray
}

body.fp-viewing-page-1 .menu li a[href="#page-1"]::before {
    opacity: 1;
    width: 100%
}

body.fp-viewing-page-2 .menu li a[href="#page-2"] {
    cursor: default;
    color: gray
}

body.fp-viewing-page-2 .menu li a[href="#page-2"]::before {
    opacity: 1;
    width: 100%
}

body.fp-viewing-page-3 .menu li a[href="#page-3"] {
    cursor: default;
    color: gray
}

body.fp-viewing-page-3 .menu li a[href="#page-3"]::before {
    opacity: 1;
    width: 100%
}

.page-1__title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 85vh
}

.hover-text span {
    color: inherit;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 5px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    text-shadow: 0px 0px 0px #fff;
    position: relative;
    top: 0px;
    left: 0px;
    cursor: default
}

/* .hover-text span:hover {
    text-shadow: -8px 8px 0px #147e84;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    top: -8px;
    left: 8px
} */

/*animation jump-text*/
.hover-text span.active {
    text-shadow: -8px 8px 0px #147e84;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    top: -8px;
    left: 8px
}

.hover-text span.space {
    width: 20px;
    height: 100%
}

.page-1__title-720 {
    display: none;
    font-size: 38px;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 42px
}

.page-1__title {
    font-size: 70px;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 75px;
    margin-bottom: 75px
}

.suptitle {
    font-size: 45px;
    -ms-flex-item-align: start;
    align-self: flex-start
}

.subtitle {
    font-size: 28px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    text-align: right
}

.page-1__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.social__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.link-social {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s
}

.link-social:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.link-social:hover span {
    background-color: transparent
}

.link-social span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 50px;
    height: 50px
}

.link-social+.link-social {
    margin-left: 15px
}

.link-telegram {
    border-radius: 50%;
    background-image: url(../images/icon-telegram.jpg)
}

.link-telegram span {
    border-radius: 50%
}

.link-instagram {
    border-radius: 10px;
    background-image: url(../images/icon-instagram.jpg)
}

.link-instagram span {
    border-radius: 10px
}

.link-facebook {
    border-radius: 5px;
    background-image: url(../images/icon-facebook.jpg)
}

.link-facebook span {
    border-radius: 5px
}

.icon-mouse {
    -ms-flex-item-align: center;
    align-self: center;
    position: relative
}

.icon-mouse span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 35px;
    text-transform: capitalize;
    color: inherit;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    -webkit-animation: mouse-text 4s infinite linear;
    animation: mouse-text 4s infinite linear
}

@-webkit-keyframes mouse-text {
    0% {}

    50% {
        color: transparent
    }

    100% {
        color: inherit
    }
}

@keyframes mouse-text {
    0% {}

    50% {
        color: transparent
    }

    100% {
        color: inherit
    }
}

.wrap__link-pm {
    text-align: right
}

.wrap__link-pm a {
    display: block;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #333;
    text-shadow: 2px 2px 2px #000;
}

.wrap__link-pm a:hover {
    color: #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.icon-mouse {
    border-radius: 30px;
    height: 40px;
    width: 25px;
    border: 2px solid #4c555e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    position: relative
}

.icon-mouse::before,
.icon-mouse::after {
    content: "";
    position: absolute
}

.icon-mouse::before {
    border-radius: 0 0 30px 30px;
    border: 2px solid #fff;
    border-top: none;
    height: 25px;
    width: 25px;
    bottom: -2px;
    left: -2px;
    z-index: 1
}

.icon-mouse::after {
    bottom: 25px;
    left: 50%;
    background-color: #fff;
    border-radius: 50%;
    width: 3px;
    height: 3px;
    -webkit-animation: scroll 2s infinite cubic-bezier(0.4, 0, 1, 1);
    animation: scroll 2s infinite cubic-bezier(0.4, 0, 1, 1)
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateY(0px) translateX(-50%);
        transform: translateY(0px) translateX(-50%)
    }

    50% {
        -webkit-transform: translateY(5px) translateX(-50%);
        transform: translateY(5px) translateX(-50%)
    }

    100% {
        -webkit-transform: translateY(0px) translateX(-50%);
        transform: translateY(0px) translateX(-50%)
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateY(0px) translateX(-50%);
        transform: translateY(0px) translateX(-50%)
    }

    50% {
        -webkit-transform: translateY(5px) translateX(-50%);
        transform: translateY(5px) translateX(-50%)
    }

    100% {
        -webkit-transform: translateY(0px) translateX(-50%);
        transform: translateY(0px) translateX(-50%)
    }
}

@circle-size : 120px;
@circle-background : #d6dadc;
@circle-color : #97a71d;
@inset-size : 90px;
@inset-color : #fbfbfb;
@transition-length : 1s;
@shadow : 6px 6px 10px rgba(0, 0, 0, 0.2);
@percentage-color : #97a71d;
@percentage-font-size : 22px;
@percentage-text-width : 57px;

.page-2 {
    padding-top: 200px
}

.tec__inner {
    padding-top: 160px
}

.tec__item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 880px;
    margin-bottom: 20px;
    min-width: 200px
}

.tec__tags {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 21;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    text-align: center;
    line-height: 100px;
    margin-right: 20px
}

.tec__tags:hover .tec__tag {
    border-color: #444
}

.tec__tags:hover .tec__tag:first-child {
    margin-right: -15px;
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.61)
}

.tec__tags:hover .tec__tag:last-child {
    margin-top: 20px;
    margin-left: -15px;
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.61)
}

.tec__tags .tec__tag {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: 2px solid #fff
}

.tec__tags .tec__tag:first-child {
    margin-right: -15px
}

.tec__tags .tec__tag:last-child {
    margin-top: 20px;
    margin-left: -15px
}

.tec__tags-hc .tec__tag-h {
    background: rgba(241, 101, 41, 0.8);
    background: -o-linear-gradient(45deg, rgba(241, 101, 41, 0.8) 0%, rgba(241, 101, 41, 0.8) 62%, rgba(229, 229, 229, 0.8) 100%);
    background: linear-gradient(45deg, rgba(241, 101, 41, 0.8) 0%, rgba(241, 101, 41, 0.8) 62%, rgba(229, 229, 229, 0.8) 100%)
}

.tec__tags-hc .tec__tag-c {
    background: rgba(64, 154, 214, 0.8);
    background: -o-linear-gradient(45deg, rgba(64, 154, 214, 0.8) 0%, rgba(64, 154, 214, 0.8) 62%, #e5e5e5 100%);
    background: linear-gradient(45deg, rgba(64, 154, 214, 0.8) 0%, rgba(64, 154, 214, 0.8) 62%, #e5e5e5 100%)
}

.tec__tags-sg .tec__tag-s {
    background: rgba(205, 102, 154, 0.8);
    background: -o-linear-gradient(45deg, rgba(205, 102, 154, 0.8) 0%, rgba(205, 102, 154, 0.8) 62%, rgba(229, 229, 229, 0.8) 100%);
    background: linear-gradient(45deg, rgba(205, 102, 154, 0.8) 0%, rgba(205, 102, 154, 0.8) 62%, rgba(229, 229, 229, 0.8) 100%)
}

.tec__tags-sg .tec__tag-g {
    background: rgba(235, 74, 75, 0.8);
    background: -o-linear-gradient(45deg, rgba(235, 74, 75, 0.8) 0%, rgba(235, 74, 75, 0.8) 62%, rgba(229, 229, 229, 0.8) 100%);
    background: linear-gradient(45deg, rgba(235, 74, 75, 0.8) 0%, rgba(235, 74, 75, 0.8) 62%, rgba(229, 229, 229, 0.8) 100%)
}

.tec__tags-jq .tec__tag-j {
    background: rgba(255, 218, 62, 0.8);
    background: -o-linear-gradient(45deg, rgba(255, 218, 62, 0.8) 0%, rgba(255, 218, 62, 0.8) 62%, rgba(229, 229, 229, 0.8) 100%);
    background: linear-gradient(45deg, rgba(255, 218, 62, 0.8) 0%, rgba(255, 218, 62, 0.8) 62%, rgba(229, 229, 229, 0.8) 100%)
}

.tec__tags-jq .tec__tag-q {
    background: rgba(17, 105, 174, 0.8);
    background: -o-linear-gradient(45deg, rgba(17, 105, 174, 0.8) 0%, rgba(17, 105, 174, 0.8) 62%, rgba(229, 229, 229, 0.8) 100%);
    background: linear-gradient(45deg, rgba(17, 105, 174, 0.8) 0%, rgba(17, 105, 174, 0.8) 62%, rgba(229, 229, 229, 0.8) 100%)
}

.portfolio__title {
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    color: #fff;
    font-weight: 700;
    padding-top: 140px;
    padding-bottom: 40px
}

.portfolio__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 400px;
    -ms-flex-line-pack: baseline;
    align-content: baseline
}

.portfolio__item {
    padding: 10px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.portfolio__item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.portfolio__item.without-adaptive .portfolio__item-link {
    position: relative
}

.portfolio__item.without-adaptive .portfolio__item-link span {
    position: absolute;
    border-radius: 3px;
    border: 1px solid red;
    font-size: 18px;
    font-weight: 700;
    top: 30px;
    right: 30px;
    text-transform: uppercase;
    padding: 5px 15px;
    color: red;
    background-color: #fff;
    opacity: 0.5
}

.portfolio__item-link {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px 20px 12px;
    background-color: #fff
}

.portfolio__item-link img {
    -webkit-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
    width: 300px;
    height: 200px
}

@media (max-width: 1200px) {
    .header {
        padding: 0px 10px;
        height: 50px
    }

    .page-1__title-box {
        padding-top: 40px
    }

    .page-1__title {
        font-size: 5vw;
        margin-top: 50px;
        margin-bottom: 70px
    }

    .suptitle {
        font-size: 3vw
    }

    .subtitle {
        font-size: 3vw
    }

    .portfolio__title {
        font-size: 5vw;
        padding-top: 8vh;
        padding-bottom: 3vh
    }

    .portfolio__item-link img {
        width: 20vw;
        height: 14vw
    }

    .portfolio__item-link {
        padding: 10px 10px 6px
    }

    .portfolio__item.without-adaptive .portfolio__item-link span {
        font-size: 8px;
        top: 15px;
        right: 15px;
        padding: 5px 10px;
        line-height: 15px
    }
}

@media (max-width: 720px) {
    .page-1__title-720 {
        display: block
    }

    .page-1__title {
        display: none
    }

    .page-1__title-box {
        height: 80vh
    }

    .icon-mouse {
        margin-top: 15px
    }

    .portfolio__item-link img {
        width: 120px;
        height: 85px
    }

    .icon-mouse {
        display: none
    }
}

@media (max-width: 440px) {
    .wrap__link-pm a {
        font-size: 15px
    }

    .page-1__title-720 {
        font-size: 30px
    }

    .suptitle {
        font-size: 15px
    }

    .subtitle {
        font-size: 15px
    }

    .social__box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 15px;
        margin-top: -110px
    }

    .link-social+.link-social {
        margin-left: 0;
        margin-top: 10px
    }

    .menu li {
        font-size: 15px
    }

    .menu a {
        padding: 0px 5px
    }

    .menu li+li {
        margin-left: 15px
    }
}